.App-logo {
  width: 50px;
}

.App {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
}
header {
  margin-bottom: 30px;
}
header span {
  font-weight: 900;
  font-size: 30px;
}

footer {
  padding: 30px;
}
